[model]
class=model
#datasource=mysql://hww3:gazonk@localhost/blog
debug=1
# this path is relative to the current directory
#datasource=SQLite://blog.db

[controller]
class=controller

[view]
class=view

[fulltext]
indexserver=http://somehost:9001

[application]
