<div class="ComboPickerContainer" dojoAttachPoint="pickerNode">
<table class="ComboPickerTable">
  <tr>
  <td>
    <div class="PickerFromHolder" dojoAttachPoint="pickerFromContainerNode">
    <select class="FromPicker" multiple="1" dojoAttachPoint="fromList" dojoAttachEvent="onChange: fromChanged"/>
    </div>
  </td>
  <td>
    <div class="PickerButtonHolder" dojoAttachPoint="pickerControlContainerNode">
        <button dojoAttachPoint="addButton" xdojoAttachEvent="onclick: addItem">--&gt;</button><br/> &nbsp;<br/>
        <button dojoAttachPoint="removeButton" xdojoAttachEvent="onclick: removeItem">&lt;--</button>
<p/>
    </div>
  </td>
  <td>
    <div class="PickerToHolder" dojoAttachPoint="pickerToContainerNode">
	    <select class="ToPicker" multiple="1" dojoAttachPoint="toList" dojoAttachEvent="onChange: toChanged"/>
    </div>
  </td>
</tr>
</table>
</div>
