<form class="inlineEditBox" style="display: none" dojoAttachPoint="form" dojoAttachEvent="onSubmit:saveEdit; onReset:cancelEdit;">
	<input type="radio" dojoAttachPoint="input_true" name="" style="display: none;" dojoAttachEvent="onChange: checkForValueChange;" />True
	<input type="radio" dojoAttachPoint="input_false" name="" style="display: none;" dojoAttachEvent="onChange: checkForValueChange;" />False
	<input type="submit" value="Save" dojoAttachPoint="submitButton" />
	<input type="reset" value="Cancel" dojoAttachPoint="cancelButton" />
</form>
